* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adminNav a {
    color: black;
}

.custNav nav {
    background-color: rgb(49, 49, 49);
    padding: 1rem;
    color: white;
}

.custNav a{
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.custNav nav-item {
    color: white;
}